In [40]:
import pandas as pd
import nltk

In [41]:
cd C:\Users\MegaTecnologia\Documents\Udemy - Procesamiento del lenguaje natural con NLP y Python\Datasets

C:\Users\MegaTecnologia\Documents\Udemy - Procesamiento del lenguaje natural con NLP y Python\Datasets

In [42]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 0A87-BFED

 Directorio de C:\Users\MegaTecnologia\Documents\Udemy - Procesamiento del lenguaje natural con NLP y Python\Datasets

09/01/2022  10:43    <DIR>          .
09/01/2022  10:43    <DIR>          ..
09/01/2022  07:48           485.645 data.csv
09/01/2022  09:18           181.465 df_output.csv
08/01/2022  20:29         3.774.591 name_gender_dataset.csv
18/04/2011  14:53             5.868 readme
09/01/2022  08:00           448.993 reviews x.csv
09/01/2022  09:13           470.007 reviews.csv
09/01/2022  09:21           181.465 reviews_df.csv
15/03/2011  22:36           477.907 SMSSpamCollection
09/01/2022  10:43            77.057 Youtube - Shakira.csv
26/03/2017  18:29            72.706 Youtube05-Shakira.csv
              10 archivos      6.175.704 bytes
               2 dirs  440.151.826.432 bytes libres

In [43]:
comentarios_df = pd.read_csv('Youtube05-Shakira.csv', header=None,sep=',')

In [44]:
comentarios_df.shape

(371, 5)

In [45]:
comentarios_df.head(5)

,0,1,2,3,4
0,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
1,z13lgffb5w3ddx1ul22qy1wxspy5cpkz504,dharma pal,2015-05-29T02:30:18.971000,Nice song﻿,0
2,z123dbgb0mqjfxbtz22ucjc5jvzcv3ykj,Tiza Arellano,2015-05-29T00:14:48.748000,I love song ﻿,0
3,z12quxxp2vutflkxv04cihggzt2azl34pms0k,Prìñçeśś Âliś Łøvê Dømíñø Mâđiś™ ﻿,2015-05-28T21:00:08.607000,I love song ﻿,0
4,z12icv3ysqvlwth2c23eddlykyqut5z1h,Eric Gonzalez,2015-05-28T20:47:12.193000,"860,000,000 lets make it first female to reach...",0

In [46]:
comentarios_df.columns = ['id', 'au', 'da', 'contenido', 'clase']

comentarios_df.columns

Index(['id', 'au', 'da', 'contenido', 'clase'], dtype='object')

In [47]:
comentarios_df.head(5)

,id,au,da,contenido,clase
0,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
1,z13lgffb5w3ddx1ul22qy1wxspy5cpkz504,dharma pal,2015-05-29T02:30:18.971000,Nice song﻿,0
2,z123dbgb0mqjfxbtz22ucjc5jvzcv3ykj,Tiza Arellano,2015-05-29T00:14:48.748000,I love song ﻿,0
3,z12quxxp2vutflkxv04cihggzt2azl34pms0k,Prìñçeśś Âliś Łøvê Dømíñø Mâđiś™ ﻿,2015-05-28T21:00:08.607000,I love song ﻿,0
4,z12icv3ysqvlwth2c23eddlykyqut5z1h,Eric Gonzalez,2015-05-28T20:47:12.193000,"860,000,000 lets make it first female to reach...",0

In [48]:
#comentarios_df = comentarios_df.drop(['COMMENT_ID', 'AUTHOR', 'DATE'], axis=1)
#comentarios_df = comentarios_df.drop(['AUTHOR'], axis=1)
#comentarios_df = comentarios_df.drop(['DATE'], axis=1)

comentarios_df = comentarios_df.drop(comentarios_df.columns[[0,1,2]], axis=1)

comentarios_df.head(5)

                                           contenido  clase
0                                            CONTENT  CLASS
1                                         Nice song﻿      0
2                                      I love song ﻿      0
3                                      I love song ﻿      0
4  860,000,000 lets make it first female to reach...      0

In [49]:
comentarios_df.drop([0],axis=0)

                                             contenido clase
1                                           Nice song﻿     0
2                                        I love song ﻿     0
3                                        I love song ﻿     0
4    860,000,000 lets make it first female to reach...     0
5                        shakira is best for worldcup﻿     0
..                                                 ...   ...
366  I love this song because we sing it at Camp al...     0
367  I love this song for two reasons: 1.it is abou...     0
368                                                wow     0
369                            Shakira u are so wiredo     0
370                         Shakira is the best dancer     0

[370 rows x 2 columns]

In [50]:
comentarios_df = comentarios_df[['clase','contenido']]

comentarios_df.head(5)

   clase                                          contenido
0  CLASS                                            CONTENT
1      0                                         Nice song﻿
2      0                                      I love song ﻿
3      0                                      I love song ﻿
4      0  860,000,000 lets make it first female to reach...

In [51]:
comentarios_df.isnull().values.any()

False

In [52]:
import string

In [53]:
#para sacar las palabras no importantes

nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MegaTecnologia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [54]:
#vamos a crear una función que haga todo lo que hicimos hasta acá

def procesar_texto(cadena):
    sinpunt = [c for c in cadena if c not in string.punctuation]
    sinpunt = ''.join(sinpunt)
    palabras = sinpunt.split()
    cadena_cleaned = [palabra for palabra in palabras if palabra.lower() not in stopwords.words('spanish')]
    return cadena_cleaned

In [55]:
#aplicaremos la función sobre df

comentarios_df['contenido'].head(5).apply(procesar_texto)

0                                            [CONTENT]
1                                        [Nice, song﻿]
2                                   [I, love, song, ﻿]
3                                   [I, love, song, ﻿]
4    [860000000, lets, make, it, first, female, to,...
Name: contenido, dtype: object

In [56]:
#SEGUNDO PASO = vectorizar

from sklearn.feature_extraction.text import CountVectorizer

In [57]:
transformador = CountVectorizer(analyzer=procesar_texto).fit(comentarios_df['contenido'])

In [58]:
# predicciones --> por ejemplo: como sé si un mensaje es spam o no

# - tengo que imporar módulos de ML

from sklearn.feature_extraction.text import TfidfTransformer
# tranformador de los mensajes... pero no sé en qué los transforma

from sklearn.ensemble import RandomForestClassifier
# algoritmo de clasificacion

from sklearn.model_selection import train_test_split
# dividir los datos de entrenamiento y test

from sklearn.pipeline import Pipeline
# para ejecutar operaciones simultaneamente

from sklearn.metrics import classification_report
# para hacer el informa de clasificacion de este algoritmo

In [59]:
# PRIMERO : dividir mensajes de entrenamiento y mensajes de prueba, con etiquetas

# genero cuatro variables correspondietnes 

com_entr, com_pru, etq_entr, etq_pru = train_test_split(comentarios_df['contenido'], comentarios_df['clase'], test_size=0.3)

In [60]:
pipeline = Pipeline([
    ('vectorizar', CountVectorizer(analyzer=procesar_texto)), #primera operación
    ('transformar', TfidfTransformer()),
    ('clasificar', RandomForestClassifier())
])

In [61]:
# SEGUNDO : entrenar el pipeline con los mensajes de entrenamiento

pipeline.fit(com_entr, etq_entr)

Pipeline(steps=[('vectorizar',
                 CountVectorizer(analyzer=<function procesar_texto at 0x00000131B0725940>)),
                ('transformar', TfidfTransformer()),
                ('clasificar', RandomForestClassifier())])

In [62]:
# TERCERO : una vez entrenado el sistema, lo pruebo en sus predicciones

predicciones = pipeline.predict(com_pru)

In [63]:
# CUARTO : informe de prueba

print(classification_report(etq_pru, predicciones))

              precision    recall  f1-score   support

           0       0.83      0.98      0.90        61
           1       0.97      0.76      0.86        51

    accuracy                           0.88       112
   macro avg       0.90      0.87      0.88       112
weighted avg       0.90      0.88      0.88       112